<?xml version="1.0" encoding="UTF-8"?>
<web-app id="crudportlet" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:eai-portal-web-applicationcontext.xml,
			classpath*:eai-portal-domain-security-applicationcontext.xml
		</param-value>
	</context-param>

	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>CrudPortletApplication</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>de.uit.eai.portal.portlet.crud.CrudPortletApplication</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>de.unioninvestment.eai.portal.portlet.widgetset.SofiaWidgetset</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>CrudPortletApplication</servlet-name>
		<url-pattern>/CrudPortletApplicationServlet/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
