<?xml version="1.0" encoding="UTF-8"?>
<web-app id="crudportlet" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:eai-portal-web-applicationcontext.xml,
			classpath*:eai-portal-domain-security-applicationcontext.xml
		</param-value>
	</context-param>

	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>CrudUI</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>de.unioninvestment.eai.portal.portlet.crud.CrudUI</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>de.unioninvestment.eai.portal.portlet.widgetset.SofiaWidgetset</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/VAADIN/widgetsets/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudUI</servlet-name>
		<url-pattern>/CrudUI/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrudUI</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>htc</extension>
		<mime-type>text/x-component</mime-type>
	</mime-mapping>

</web-app>