
div.crudTable .v-checkbox {
	display: inline;
}

div.crudTable .v-csslayout .v-caption {
	display: none;
}

/* Gefärbter Hintergrund EDIT-Mode */

div.crudEditMode tr.v-table-row {
	background: #ffdddd;
}

div.crudEditMode tr.v-table-row-odd {
	background: #ffbbbb;
}

/* Markierte Zeile */

tbody tr.v-table-row.v-selected td {
	background: url("../images/sel-bg.png") repeat-x scroll 0 0 #4D749F;;
}

tbody tr.v-table-row-odd.v-selected td {
	background: url("../images/sel-bg.png") repeat-x scroll 0 0 #4D749F;;
}

div.crudEditMode tbody tr.v-table-row.v-selected td {
	background: url("../images/sel-bg.png") repeat-x scroll 0 0 #4D749F;;
}

div.crudEditMode tbody tr.v-table-row-odd.v-selected td {
	background: url("../images/sel-bg.png") repeat-x scroll 0 0 #4D749F;;
}

/*deaktiviert den uppercase column header*/
.v-table-header { 
	text-transform: none; 
}

.v-table-cell-wrapper {
	white-space: normal;
}

.wordwrap {
	white-space: normal;
}

.v-textfield-prompt {
	color: #999999;
}

.crudEditMode div.v-label {
	color: #000000;
	text-shadow: 0 0px 0;
}


/* Warn für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-warn {
	background: #F3F781;
}

tr.v-table-row-odd td.v-table-cell-content-warn {
	background: #E3E771;
}

div.crudEditMode td.v-table-cell-content-warn {
	background: #F3F781;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-warn {
	background: #E3E771;
}


/* Warn für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-warn {
	background: #F3F781;
}

tr.v-table-row-odd.v-table-row-warn {
	background: #E3E771;
}

div.crudEditMode tr.v-table-row-warn {
	background: #F3F781;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-warn {
	background: #E3E771;
}

/* OK für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-ok {
	background: #00A57D;
}

tr.v-table-row-odd.v-table-row-ok {
	background:#00956D;
}

div.crudEditMode tr.v-table-row-ok {
	background: #00A57D;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-ok {
	background: #00956D;
}

/* Error für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-error {
	background: #DF013A;
}

tr.v-table-row-odd td.v-table-cell-content-error {
	background: #CF012A;
}

div.crudEditMode td.v-table-cell-content-error {
	background: #DF013A;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-error {
	background: #CF012A;
}


/* Error für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-error {
	background: #DF013A;
}

tr.v-table-row-odd.v-table-row-error {
	background: #CF012A;
}

div.crudEditMode tr.v-table-row-error {
	background: #DF013A;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-error {
	background: #CF012A;
}


/* CSS-Klassen für Freigabe (EAI-457) NOTE: Style funktioniert nur für Table cells! */

/* Freigabestatus: OK (Grün) */
tr.v-table-row td.v-table-cell-content-freigabe-ok {
	background: #00A57D;
}

tr.v-table-row-odd td.v-table-cell-content-freigabe-ok {
	background: #00956D;
}

tr.v-table-row div.crudEditMode td.v-table-cell-content-freigabe-ok {
	background: #00A57D;
}

tr.v-table-row-odd div.crudEditMode td.v-table-cell-content-freigabe-ok {
	background: #00956D;
}

/* Freigabestatus: Nicht freigegeben (Gelb) */
tr.v-table-row td.v-table-cell-content-freigabe-none {
	background: #FFF000;
}

tr.v-table-row-odd td.v-table-cell-content-freigabe-none {
	background: #EFE000;
}

tr.v-table-row div.crudEditMode td.v-table-cell-content-freigabe-none {
	background: #FFF000;
}

tr.v-table-row-odd div.crudEditMode td.v-table-cell-content-freigabe-none {
	background: #EFE000;
}

/* Freigabestatus: Verworfen (Rot) */
tr.v-table-row td.v-table-cell-content-freigabe-discarded {
	background: #FF0000;
}

tr.v-table-row-odd td.v-table-cell-content-freigabe-discarded {
	background: #EF0000;
}

tr.v-table-row div.crudEditMode td.v-table-cell-content-freigabe-discarded {
	background: #FF0000;
}

tr.v-table-row-odd div.crudEditMode td.v-table-cell-content-freigabe-discarded {
	background: #EF0000;
}

/* CSS-Klassen leere Zellen (EAI-462) NOTE: Style funktioniert nur für Table cells! */

/* leere Zelle (Rot) */
tr.v-table-row td.v-table-cell-content-empty-cell {
	background: #FF0000;
}

tr.v-table-row-odd td.v-table-cell-content-empty-cell {
	background: #EF0000;
}

tr.v-table-row div.crudEditMode td.v-table-cell-content-empty-cell {
	background: #FF0000;
}

tr.v-table-row-odd div.crudEditMode td.v-table-cell-content-empty-cell {
	background: #EF0000;
}




/* CSS-Klassen geaenderte Zellen NOTE: Style funktioniert nur für Table cells! */

/* geaenderte Zelle (Rote Schrift) */
tr.v-table-row td.v-table-cell-content-changed-cell {
	color: #FF0000;
}

tr.v-table-row-odd td.v-table-cell-content-changed-cell {
	color: #EF0000;
}

tr.v-table-row div.crudEditMode td.v-table-cell-content-changed-cell {
	color: #FF0000;
}

tr.v-table-row-odd div.crudEditMode td.v-table-cell-content-changed-cell {
	color: #EF0000;
}


/* CSS-Klassen für des Union CI */

/*Primäres Farbklima */
/* 5% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */


td.v-table-cell-content-primaer_05 {
	background: #E6EBF1;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_05 {
	background: #DDE5ED;
}

div.crudEditMode td.v-table-cell-content-primaer_05 {
	background: #E6EBF1;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_05 {
	background: #DDE5ED;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-primaer_05 {
	background: #E6EBF1;
}

div.crudEditMode tr.v-table-row-odd-primaer_05 {
	background: #DDE5ED;
}



tr.v-table-row-primaer_05 {
	background: #E6EBF1;
}

tr.v-table-row-odd.v-table-row-primaer_05 {
	background: #DDE5ED;
}

div.crudEditMode tr.v-table-row-primaer_05 {
	background: #E6EBF1;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_05 {
	background: #DDE5ED;
}


/* 10% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-primaer_10 {
	background: #DDE5ED;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_10 {
	background: #C5D2E2;
}

div.crudEditMode td.v-table-cell-content-primaer_10 {
	background: #DDE5ED;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_10 {
	background: #C5D2E2;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-primaer_10 {
	background: #DDE5ED;
}

div.crudEditMode tr.v-table-row-odd-primaer_10 {
	background: #C5D2E2;
}


tr.v-table-row-primaer_10 {
	background: #DDE5ED;
}

tr.v-table-row-odd.v-table-row-primaer_10 {
	background: #C5D2E2;
}

div.crudEditMode tr.v-table-row-primaer_10 {
	background: #DDE5ED;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_10 {
	background: #C5D2E2;
}


/* 20% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */



td.v-table-cell-content-primaer_20 {
	background: #C5D2E2;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_20 {
	background: #A7BCD5;
}

div.crudEditMode td.v-table-cell-content-primaer_20 {
	background: #C5D2E2;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_20 {
	background: #A7BCD5;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-primaer_20 {
	background: #C5D2E2;
}

div.crudEditMode tr.v-table-row-odd-primaer_20 {
	background: #A7BCD5;
}


tr.v-table-row-primaer_20 {
	background: #C5D2E2;
}

tr.v-table-row-odd.v-table-row-primaer_20 {
	background: #A7BCD5;
}

div.crudEditMode tr.v-table-row-primaer_20 {
	background: #C5D2E2;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_20 {
	background: #A7BCD5;
}

/* 35% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-primaer_35 {
	background: #A7BCD5;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_35 {
	background: #8DA8C5;
}

div.crudEditMode td.v-table-cell-content-primaer_35 {
	background: #A7BCD5;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_35 {
	background: #8DA8C5;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-primaer_35 {
	background: #A7BCD5;
}

div.crudEditMode tr.v-table-row-odd-primaer_35 {
	background: #8DA8C5;
}

div.crudEditMode tr.v-table-row-primaer_35 {
	background: #A7BCD5;
}

div.crudEditMode tr.v-table-row-odd-primaer_35 {
	background: #8DA8C5;
}

tr.v-table-row-primaer_35 {
	background: #A7BCD5;
}

tr.v-table-row-odd.v-table-row-primaer_35 {
	background: #8DA8C5;
}

div.crudEditMode tr.v-table-row-primaer_35 {
	background: #A7BCD5;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_35 {
	background: #8DA8C5;
}


/* 40% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */


td.v-table-cell-content-primaer_40 {
	background: #8DA8C5;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_40 {
	background: #5884AE;
}

div.crudEditMode td.v-table-cell-content-primaer_40 {
	background: #8DA8C5;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_40 {
	background: #5884AE;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-primaer_35 {
	background: #8DA8C5;
}

div.crudEditMode tr.v-table-row-odd-primaer_35 {
	background: #5884AE;
}


tr.v-table-row-primaer_40 {
	background: #8DA8C5;
}

tr.v-table-row-odd.v-table-row-primaer_40 {
	background: #5884AE;
}

div.crudEditMode tr.v-table-row-primaer_40 {
	background: #8DA8C5;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_40 {
	background: #5884AE;
}

/* 55% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */


td.v-table-cell-content-primaer_55 {
	background: #5884AE;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_55 {
	background: #226796;
}

div.crudEditMode td.v-table-cell-content-primaer_55 {
	background: #5884AE;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_55 {
	background: #226796;
}


/* Für View/Edit Mode auf Zeile alternierend */


div.crudEditMode tr.v-table-row-primaer_55 {
	background: #5884AE;
}

div.crudEditMode tr.v-table-row-odd-primaer_55 {
	background: #226796;
}


tr.v-table-row-primaer_55 {
	background: #5884AE;
}

tr.v-table-row-odd.v-table-row-primaer_55 {
	background: #226796;
}

div.crudEditMode tr.v-table-row-primaer_55 {
	background: #5884AE;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_55 {
	background: #226796;
}

/* 75% UI-Blau*/
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-primaer_75 {
	background: #226796;
}

tr.v-table-row-odd td.v-table-cell-content-primaer_75 {
	background: #003F74;
}

div.crudEditMode td.v-table-cell-content-primaer_75 {
	background: #226796;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-primaer_75 {
	background: #003F74;
}


/* Für View/Edit Mode auf Zeile alternierend */


div.crudEditMode tr.v-table-row-primaer_75 {
	background: #226796;
}

div.crudEditMode tr.v-table-row-odd-primaer_75 {
	background: #003F74;
}


tr.v-table-row-primaer_75 {
	background: #226796;
}

tr.v-table-row-odd.v-table-row-primaer_75 {
	background: #003F74;
}

div.crudEditMode tr.v-table-row-primaer_75 {
	background: #226796;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-primaer_75 {
	background: #003F74;
}


/*Ergaenzngsfarben*/
/* 35% Gruen*/
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-ergaenzung_gruen {
	background: #AEC6A1;
}

tr.v-table-row-odd td.v-table-cell-content-ergaenzung_gruen {
	background: #88AC77;
}

div.crudEditMode td.v-table-cell-content-ergaenzung_gruen {
	background: #AEC6A1;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-ergaenzung_gruen {
	background: #88AC77;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-ergaenzung_gruen {
	background: #AEC6A1;
}

div.crudEditMode tr.v-table-row-odd-ergaenzung_gruen {
	background: #88AC77;
}

tr.v-table-row-ergaenzung_gruen {
	background: #AEC6A1;
}

tr.v-table-row-odd.v-table-row-ergaenzung_gruen {
	background: #88AC77;
}

div.crudEditMode tr.v-table-row-ergaenzung_gruen {
	background: #AEC6A1;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-ergaenzung_gruen {
	background: #88AC77;
}

/* 25% Grau*/
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-ergaenzung_grau {
	background: #D1D3D2;
}

tr.v-table-row-odd td.v-table-cell-content-ergaenzung_grau {
	background: #A6AAAD;
}

div.crudEditMode td.v-table-cell-content-ergaenzung_grau {
	background: #D1D3D2;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-ergaenzung_grau {
	background: #A6AAAD;
}


/* Für View/Edit Mode auf Zeile alternierend */

div.crudEditMode tr.v-table-row-ergaenzung_grau {
	background: #D1D3D2;
}

div.crudEditMode tr.v-table-row-odd-ergaenzung_grau {
	background: #A6AAAD;
}

tr.v-table-row-ergaenzung_grau {
	background: #D1D3D2;
}

tr.v-table-row-odd.v-table-row-ergaenzung_grau {
	background: #A6AAAD;
}

div.crudEditMode tr.v-table-row-ergaenzung_grau {
	background: #D1D3D2;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-ergaenzung_grau {
	background: #A6AAAD;
}

/* Auszeichnungsfarben */
/* Ocker */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-auszeichnung_ocker {
	background: #FBD69B;
}

tr.v-table-row-odd td.v-table-cell-content-auszeichnung_ocker {
	background: #FAB94D;
}

div.crudEditMode td.v-table-cell-content-auszeichnung_ocker {
	background: #FBD69B;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-auszeichnung_ocker {
	background: #FAB94D;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-auszeichnung_ocker {
	background: #FBD69B;
}

tr.v-table-row-odd.v-table-row-auszeichnung_ocker {
	background: #FAB94D;
}

div.crudEditMode tr.v-table-row-auszeichnung_ocker {
	background: #FBD69B;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-auszeichnung_ocker {
	background: #FAB94D;
}

/* Rot */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-auszeichnung_rot {
	background: #E0A0A0;
}

tr.v-table-row-odd td.v-table-cell-content-auszeichnung_rot {
	background: #BF3954;
}

div.crudEditMode td.v-table-cell-content-auszeichnung_rot {
	background: #E0A0A0;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-auszeichnung_rot {
	background: #BF3954;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-auszeichnung_rot {
	background: #E0A0A0;
}

tr.v-table-row-odd.v-table-row-auszeichnung_rot {
	background: #BF3954;
}

div.crudEditMode tr.v-table-row-auszeichnung_rot {
	background: #E0A0A0;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-auszeichnung_rot {
	background: #BF3954;
}


/* Risikofarben */
/* geringe Wertschwankung */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-risiko_geringe {
	background: #019BF4;
}

tr.v-table-row-odd td.v-table-cell-content-risiko_geringe {
	background: #017DC3;
}

div.crudEditMode td.v-table-cell-content-risiko_geringe {
	background: #019BF4;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-risiko_geringe {
	background: #017DC3;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-risiko_geringe {
	background: #019BF4;
}

tr.v-table-row-odd.v-table-row-risiko_geringe {
	background: #017DC3;
}

div.crudEditMode tr.v-table-row-risiko_geringe {
	background: #019BF4;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-risiko_geringe {
	background: #017DC3;
}


/* moderate Wertschwankung */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-risiko_moderate {
	background: #00D6A1;
}

tr.v-table-row-odd td.v-table-cell-content-risiko_moderate {
	background: #00A57D;
}

div.crudEditMode td.v-table-cell-content-risiko_moderate {
	background: #00D6A1;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-risiko_moderate {
	background: #00A57D;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-risiko_moderate {
	background: #00D6A1;
}

tr.v-table-row-odd.v-table-row-risiko_moderate {
	background: #00A57D;
}

div.crudEditMode tr.v-table-row-risiko_moderate {
	background: #00D6A1;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-risiko_moderate {
	background: #00A57D;
}

/* erhoehte Wertschwankung */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-risiko_erhoehte {
	background: #FFF899;
}

tr.v-table-row-odd td.v-table-cell-content-risiko_erhoehte {
	background: #FFF000;
}

div.crudEditMode td.v-table-cell-content-risiko_erhoehte {
	background: #FFF899;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-risiko_erhoehte {
	background: #FFF000;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-risiko_erhoehte {
	background: #FFF899;
}

tr.v-table-row-odd.v-table-row-risiko_erhoehte {
	background: #FFF000;
}

div.crudEditMode tr.v-table-row-risiko_erhoehte {
	background: #FFF899;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-risiko_erhoehte {
	background: #FFF000;
}


/* hohe Wertschwankung */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-risiko_hohe {
	background: #FCBC69;
}

tr.v-table-row-odd td.v-table-cell-content-risiko_hohe {
	background: #FA9B1E;
}

div.crudEditMode td.v-table-cell-content-risiko_hohe {
	background: #FCBC69;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-risiko_hohe {
	background: #FA9B1E;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-risiko_hohe {
	background: #FCBC69;
}

tr.v-table-row-odd.v-table-row-risiko_hohe {
	background: #FA9B1E;
}

div.crudEditMode tr.v-table-row-risiko_hohe {
	background: #FCBC69;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-risiko_hohe {
	background: #FA9B1E;
}

/* sehr hohe Wertschwankung */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-risiko_sehr_hohe {
	background: #FF6666;
}

tr.v-table-row-odd td.v-table-cell-content-risiko_sehr_hohe {
	background: #FF0000;
}

div.crudEditMode td.v-table-cell-content-risiko_sehr_hohe {
	background: #FF6666;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-risiko_sehr_hohe {
	background: #FF0000;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-risiko_sehr_hohe {
	background: #FF6666;
}

tr.v-table-row-odd.v-table-row-risiko_sehr_hohe {
	background: #FF0000;
}

div.crudEditMode tr.v-table-row-risiko_sehr_hohe {
	background: #FF6666;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-risiko_sehr_hohe {
	background: #FF0000;
}

/* FinazGruppe */
/* HKS 44 K */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-finanzgruppe_44 {
	background: #0091FF;
}

tr.v-table-row-odd td.v-table-cell-content-finanzgruppe_44 {
	background: #0066B3;
}

div.crudEditMode td.v-table-cell-content-finanzgruppe_44 {
	background: #0091FF;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-finanzgruppe_44 {
	background: #0066B3;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-finanzgruppe_44 {
	background: #0091FF;
}

tr.v-table-row-odd.v-table-row-finanzgruppe_44 {
	background: #0066B3;
}

div.crudEditMode tr.v-table-row-finanzgruppe_44 {
	background: #0091FF;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-finanzgruppe_44 {
	background: #0066B3;
}


/* HKS 08 K */
/* Für View/EditMode auf Spalte alternierend */

td.v-table-cell-content-finanzgruppe_08 {
	background: #FF944D;
}

tr.v-table-row-odd td.v-table-cell-content-finanzgruppe_08 {
	background: #FF6600;
}

div.crudEditMode td.v-table-cell-content-finanzgruppe_08 {
	background: #FF944D;
}

div.crudEditMode tr.v-table-row-odd td.v-table-cell-content-finanzgruppe_08 {
	background: #FF6600;
}


/* Für View/Edit Mode auf Zeile alternierend */

tr.v-table-row-finanzgruppe_08 {
	background: #FF944D;
}

tr.v-table-row-odd.v-table-row-finanzgruppe_08 {
	background: #FF6600;
}

div.crudEditMode tr.v-table-row-finanzgruppe_08 {
	background: #FF944D;
}

div.crudEditMode tr.v-table-row-odd.v-table-row-finanzgruppe_08 {
	background: #FF6600;
}


/* Alignment */

td.v-table-cell-content-align_center {
	text-align: center;
}

td.v-table-cell-content-align_center input {
	text-align: center;
}

td.v-table-cell-content-align_right {
	text-align: right;
}

td.v-table-cell-content-align_right input {
	text-align: right;
}

.v-caption-crudRegion {
	font-weight: bold;
}
